@model IEnumerable<Datos.Models.Rol>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Roles</h2>
@*@Html.Partial("_Slider")*@
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @{
                    if (item.Activo)
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        @Html.Raw(" | ")
                        @Html.ActionLink("Desactivar", "Delete", new { id = item.Id })
                    }
                    else
                    {
                        {
                            @Html.ActionLink("Activar", "Activate", new { id = item.Id })
                        }
                    }
                }
            </td>
        </tr>
    }

</table>
